/* main colors */


/* errors colors */
$success-color: #28c76f !default;
$success-background: rgba(40, 199, 111, 0.12) !default;

$warning-color: #ff9f43 !default;
$warning-background: rgba(255, 159, 67, 0.12) !default;

$danger-color:#ea5455 !default;
$danger-background: rgba(234, 84, 85, 0.12) !default;